:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  margin: 0px 20px 60px 20px;
  position: relative;
}

h3 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
}
p {
  margin: 0;
  font-size: 14px;
}

.list-item {
  padding: 8px 10px;
  border: 1px solid lightseagreen;
  border-radius: 10px;
  margin-bottom: 10px;
}

.search-field {
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
}
.search-block {
  position: sticky;
  top: 0;
  padding-top: 60px;
  background-color: white;
  padding-bottom: 10px;
}
ul {
  padding-left: 20px;
  margin: 0;
}
